<!DOCTYPE html>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <!-- Use jquery -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.js"%}"></script>

    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap Core JS-->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Favicon ----------->
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">

  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
      
    {% include "nav.html" %}
    {% block content %}

    {% endblock %}

    </br>
    </br>
    </br>
	<!--/ banner-->
	<!--/ contact-->
	<!--footer-->
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">À propos</h4>
							</div>
							<div class="info-sec">
								<p>Lorem ipsum.</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Liens</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
							</ul>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Suivez-nous</h4>
						</div>
						<div class="info-sec">
							<ul class="social-icon">
								<li class="bglight-blue"><i class="fa fa-facebook"></i></li>
								<li class="bgred"><i class="fa fa-google-plus"></i></li>
								<li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
								<li class="bglight-blue"><i class="fa fa-twitter"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
                        <div class="credits">
                        </div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ footer-->
    
  </body>
</html>
