{% block block_list%}


<!--Search engine div-->
<div class="jumbotron">
            <center><h1>Liste des technologies</h1></center>

            </br>
            </br>

            <hr>

            </br>
            </br>

            <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="search-test">
                    <span class="fa fa-search"></span>

                    {% if words != 0 %}

                    <input class="form-control" type="text" name="searchinput"
                    value='{{words}}'>

                    </div>
                    </br>

                    <b> {{ n_results }} </b> résultat(s) pour :  <b> {{ words }} </b>.

                    {% elif words == 0 %}

                    <input class="form-control" type="text" name="searchinput"
                    placeholder="Rechercher une technologie...">
                    </div>
                    </br>

                    {% endif %}

                    </div>
                    </div>
                </div>
                </div>
 
        </br>

        <!--List of technologies-->
        <div class="animate-bottom" name="list">

        {% for att in attributs %}
            <div class="col-xl-8">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ att.nom }}</h3>
                        {{ att.image }}
                        {% if att.image %}
                        <div align="left">
                            <img src="{{ att.image }}" style="border: solid #376471 2px; border-radius: 3px;"></img>
                        </div>
                        {% endif %}

                        <p>{{ att.description }}</p>
                        <div align="right">
                            <p><a href="//{{request.get_host}}/techno/{{ att.id }}" 
                                style="background-color: #325B6A ;" class="btn btn-primary" role="button">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

        </div>
        <!------------------------>

 <!--ajax script used in order to refresh technologies when user launch a research-->
<script>
$(document).ready(function(){
    $("input").keyup(function(e){

        //get pressed key
        var key = e.which || e.keyCode;
        
        //if k == enter
        if (key == 13){
            
            //get input value
            var query = this.value;

            //send it to django 
            $.ajax({
                type: "GET",
                url: 'search/?q=' + query ,
                success: function(data){
                    $('#search').html(data);
                }
            });
        }
    });
});
</script>

{% endblock %}

