{% block block_list%}
{% load static %}


<!--Search engine div-->
<div class="jumbotron">
            <center><h1>Liste des technologies</h1></center>

            </br>
            </br>

            <hr>

            </br>
            </br>

            <div class="container">
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="search-test">
                    <span class="fa fa-search"></span>

                    {% if words != 0 %}

                    <input class="form-control" type="text" name="searchinput"
                    value='{{words}}'>

                    </div>
                    </br>

                    <b> {{ n_results }} </b> résultat(s) pour :  <b> {{ words }} </b>.


                    {% elif words == 0 %}

                    <input class="form-control" type="text" name="searchinput"
                    placeholder="Rechercher une technologie...">
                    </div>
                    </br>

                    {% endif %}

                    <!--- En vue d'une future fonction avancée de recherche !-->
                    <!--<input type="checkbox" name="Organisation" checked> Organisation -->
                    <!--<input type="checkbox" name="Déplacement" checked> Déplacement <br>-->
                    <!--<input type="checkbox" name="Santé" checked> Santé <br>-->
                    <!--<input type="checkbox" name="Vie domestique" checked> Vie domestique <br>-->
                    <!--<input type="checkbox" name="Loisirs" checked> Loisirs <br>-->
                    <!--<input type="checkbox" name="Vie sociale" checked> Vie sociale <br>-->
                    <!--<input type="checkbox" name="Travail" checked> Travail <br>-->
                    <!--<input type="checkbox" name="Apprentissage" checked> Apprentissage <br>-->

                    </div>
                    </div>
                </div>
                </div>
 
        </br>

        <!--List of technologies-->
        <div class="animate-bottom" name="list">

        {% for att in attributs %}

            <div class="col-md-4">

                <div class="thumbnail">
                    <div class="caption">
                                {% if att.image %}
                                    <img src="img/{{ att.image }}" class="thumbnail" style="object-fit: cover"
                                    width="250px" height="250px"></img>
                                {% endif %}

                                <h3>{{ att.nom }}</h3>
                                <p>{{ att.description }}</p>

                        <hr style="border-top: 1px solid #D5D5D5">
                            <strong><p>Prix : </strong>{{att.prix}}</p>
                                <strong><p>Mots clés : </strong>{{att.tag1}}, {{att.tag2}}, {{att.tag3}}</p>
                            <p align="right"><a href="//{{request.get_host}}/techno/{{ att.id }}"style="background-color: #325B6A ;" class="btn btn-primary" role="button">Plus d'informations</a>
                        </div>
                    </div>
                </div>


        {% endfor %}

        </div>
        <!------------------------>

 <!--ajax script used in order to refresh technologies when user launch a research-->
<script>
$(document).ready(function(){
    $("input").keyup(function(e){

        //get pressed key
        var key = e.which || e.keyCode;
        
        //if k == enter
        if (key == 13){
            
            //get input value
            var query = this.value;

            //send it to django and refresh div (with id 'search')
            $.ajax({
                type: "GET",
                url: 'search/?q=' + query ,
                success: function(data){
                    $('#search').html(data);
                }
            });
        }
    });
});
</script>

{% endblock %}

