{% extends "base.html" %}
{% block title %}Assistances numériques{% endblock %}
{% block content %}

{% include 'widgets/modal_form_validation.html' %}

<div class="container">
<div class="jumbotron">
<div class="row">

<div class="col-md-9 col-md-offset-1">

    <center><h1>Formulaire de soumission d'une technologie</h1></center>

    <hr>

    <hr>
        <form method="post" id="subform" novalidate>
        
        <!--Show pop if form is valid-->
        {% if success == 1 %}
        <script>
        $("#myModal").modal()
        </script>
        {% endif %}

      {% csrf_token %}
      {% include 'form.html' with form=form %}

      <button id="sub_btn" type="submit" class="btn btn-primary">Soumettre</button>

</div>
</div>
</div>
</div>

<script>
    document.getElementById("sub_btn").addEventListener("click", function(){
        document.getElementById("subform").submit();
    });
</script>
<!-- formulaire -->

 {% endblock %}
