{% extends "base.html" %}
{% block title %}Assistances numériques{% endblock %}
{% block content %}


<!-- Formulaire de soumission WIP (validé en ajax) -->
<div class="container">
<div class="jumbotron">
<div class="row">

<div class="col-md-9 col-md-offset-1">

    <center><h1>Formulaire de soumission d'une technologie</h1></center>
    <hr>
    Votre mél <input type="text" class="form-control" name="email"><br><br>
    Nom de la technologie <input type="text" class="form-control" name="nom"><br>
    Description
    <textarea rows="10" cols="100" class="form-control" name="description" required
                  data-validation-required-message="Please enter your message" maxlength="999"
                  style="resize:none"></textarea>

    <br>

    <p><a class="btn btn-primary" role="button">Soumettre</a>
</div>
</div>
</div>
</div>
<!-- formulaire -->

 {% endblock %}
