{% extends "base.html" %}
{% block title %}Technologie{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 50px">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class=""><a href="/categories">Categories</a></li>
            <li class="active">{{ titre }}</li>

        </ol>

        <div class="row">
            <h1>{{ att.nom }}</h1>
            <hr>

            <h3>Vidéo<h3>
            <iframe width="800" height="500"
            src="{{ att.video }}">
            </iframe>

            <h3>Description</h3>
            <p>
                {{ att.description }}
            </p>

            <h3>CIF</h3>
            <p>
                {{ att.cif}}
            </p>
            <h3>Pathologie</h3>

            <p>
                {{ att.patho }}
            </p>

            <h3>Type de technologie</h3>
            <p>
                {{ att.type_techno}}
            </p>

            <h3>Entreprise / Laboratoire</h3>
            <p>
                {{ att.entreprise}}
            </p>

            <h3>Type d'âge</h3>
            <p>
                {{ att.age}}
            </p>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!--<p>Copyright &copy; Your Website 2014</p>-->
                </div>
            </div>
        </footer>
    </div><!-- /.container -->


{% endblock %}
