{% extends "base.html" %}
{% block title %}Technologie{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 50px">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class=""><a href="/categories">Categories</a></li>
            <li class="active">{{ titre }}</li>

        </ol>

    <div class="row">
    <h1>{{ att.nom }}</h1>
    <hr>
    </br> 
    </br> 
    <h3> Tableau d'informations </h3>
    <table class="row" cellspacing="40">
      <tr>
        <th class="tg-yw4l">Description</th>
        <th class="tg-yw4l">Type d'âge</th>
        <th class="tg-yw4l">Type de technologie</th>
        <th class="tg-yw4l">Pathologie</th>
        <th class="tg-yw4l">CIF</th>
        <th class="tg-yw4l">Entreprise/Laboratoire</th>
      </tr>
      <tr>
        <td class="tg-yw4l">{{ att.description }}<br></td>
                
        <td class="tg-yw4l">{{ att.age}}</td>
        <td class="tg-yw4l">{{ att.type_techno}}</td>
        <td class="tg-yw4l">{{ att.patho}}</td>
        <td class="tg-yw4l">{{ att.cif}}</td>
        <td class="tg-yw4l">{{ att.entreprise}}</td>
      </tr>
    </table>
    </br> 
    <hr> 

    <h3>Vidéo<h3>
    <iframe width="800" height="500"
    src="{{ att.video }}">
    </iframe>


    </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!--<p>Copyright &copy; Your Website 2014</p>-->
                </div>
            </div>
        </footer>
    </div><!-- /.container -->


{% endblock %}
